<div class="container">

  <div class="card border-primary mb-3">
    <div class="card-header">Productos</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Productos</h5>

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>nombre</th>
            <th>clase</th>
            <th>tope</th>
            <th>registrados</th>
            <th>fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.clase }}</td>
            <td>{{ producto.tope }}</td>
            <td>{{ producto.registrados }}</td>
            <td>{{ producto.fecha }}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>

