
<div class="container">
  <nav class="nav bg-dark" style="height: 75px;">
    <a class="nav-link" [routerLink]="['/RegistrarCantidad']"><h3>Registrar Cantidad</h3></a>
    <a class="nav-link" [routerLink]="['/product']"><h3>Registrar Producto</h3></a>
    <a class="nav-link" [routerLink]="['/listar']"><h3>Lista productos</h3></a>
  </nav>
</div>
<router-outlet></router-outlet>



