<div class="container">
 <form>
    <div class="card">
      <div class="card-header">
        Formulario de Registro
      </div>
      <div class="card-body">

        <h5 class="card-title">Registrar Producto primer mes</h5>

        <div class="form-group row">
          <label for="nombre" class="col-form-label col-sm-2">Nombre:</label>
          <div class="col-sm-3">
              <input type="text" name="nombre" placeholder="pasta dental" class="form-control" [(ngModel)]="producto.nombre" required minlength="3" maxlength="30" #nombre=ngModel>
              <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                  <div *ngIf="nombre.errors.required">
                      Nombre es Requerido
                  </div>
                  <div *ngIf="nombre.errors.minlength">
                          Nombre debe tener al menos 3 caracteres
                  </div>
                  <div *ngIf="nombre.errors.maxlength">
                          Nombre debe tener al minimo 30 caracteres
                  </div>
              </div>
          </div>
          <label for="clase" class="col-form-label col-sm-2">clase:</label>
              <div class="col-sm-3">
                  <input placeholder="higiene" type="text" id="clase" name="clase" class="form-control" [(ngModel)]="producto.clase" required minlength="3" maxlength="30" #clase=ngModel>
                  <div class="alert alert-danger" *ngIf="clase.invalid && (clase.dirty || clase.touched)">
                    <div *ngIf="clase.errors.minlength">
                            Clase debe tener al menos 3 caracteres
                    </div>
                    <div *ngIf="clase.errors.maxlength">
                            Clase debe tener al minimo 30 caracteres
                    </div>
                </div>
              </div>
      </div>

      <div class="form-group row">
        <label for="tope" class="col-form-label col-sm-2">Tope anual:</label>
        <div class="col-sm-3">
            <input type="number" placeholder="2 ejemplo" name="tope" class="form-control" [(ngModel)]="producto.tope" required  #tope=ngModel>
                <div class="alert alert-danger" *ngIf="tope.invalid && (tope.dirty || tope.touched)">
                  <div *ngIf="tope.errors.required">
                    tope es Requerido
                </div>
                </div>
        </div>

        <label for="fecha" class="col-form-label col-sm-2">Fecha:</label>
            <div class="col-sm-3">
                <input type="date" name="fecha" class="form-control" [(ngModel)]="producto.fecha"  required #fecha=ngModel>
            </div>
              <div class="alert alert-danger" *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)">
                <div *ngIf="fecha.errors.required">
                  fecha es Requerida
                </div>
              </div>



    </div>
    <div class="form-group row">
      <label for="registrados" class="col-form-label col-sm-2">Numero Registrados:</label>
      <div class="col-sm-3">
          <input type="number" placeholder="2 ejemplo" name="registrados" class="form-control" [(ngModel)]="producto.registrados" required  #registrados=ngModel>
              <div class="alert alert-danger" *ngIf="registrados.invalid && (registrados.dirty || registrados.touched)">
                <div *ngIf="registrados.errors.required">
                  numero de registro es Requerido
              </div>
              </div>
      </div>
      </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-primary" role="button" (click)="create()">Crear</button>
      </div>
      </div>
    </div>
    </form>
</div>
